name: ossrh

on:
  push:
    tags:
      - jdeb-*

jobs:
  ossrh:
    runs-on: ubuntu-latest
    environment: maven-central
    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Version
      uses: tcurdt/action-verify-version-maven@main

    - name: Setup Maven Central
      uses: actions/setup-java@v5
      with: # overwrite settings.xml
        distribution: 'zulu'
        java-version: 16
        server-id: central
        server-username: MAVEN_CENTRAL_USERNAME
        server-password: MAVEN_CENTRAL_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_GPG_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.8

    - name: Publish to Maven Central
      run: mvn -B -Prelease --file pom.xml deploy
      env:
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
        MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
        MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
